
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin: 0 0 100px; /* bottom = footer height */
  }
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
  }
  
  .jumbotron {
    height: 650px;
    background: url(../images/news-644847_1920.jpg) no-repeat center center fixed;
    background-size: cover;

  }